#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #f5f5f5 url("https://www.toptal.com/designers/subtlepatterns/uploads/fabric_plaid.png") repeat;
  color: #333;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}